---
http_interactions:
- request:
    method: get
    uri: https://developers.zomato.com/api/v2.1/search?lat=38.2654&lon=-104.6104&q=chinese&radius=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Key:
      - ebea8369b0faf6ba13b4dd9598f04bb6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results_found":13,"results_start":0,"results_shown":13,"restaurants":[{"restaurant":{"R":{"res_id":17589317,"is_grocery_store":false,"has_menu_status":{"delivery":-1,"takeaway":-1}},"apikey":"ebea8369b0faf6ba13b4dd9598f04bb6","id":"17589317","name":"China
        Lantern Restaurant","url":"https:\/\/www.zomato.com\/pueblo-co\/china-lantern-restaurant-pueblo?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"315
        W 4th St, Pueblo 81003","locality":"Pueblo","city":"Pueblo","city_id":535,"latitude":"38.2707000000","longitude":"-104.6104000000","zipcode":"81003","country_id":216,"locality_verbose":"Pueblo,
        Pueblo"},"switch_to_order_menu":0,"cuisines":"Chinese","timings":"Lunch, Dinner
        (Sun, Mon, Tue, Thu, Fri, Sat),  (Wed)","average_cost_for_two":10,"price_range":1,"currency":"$","highlights":["Lunch","Dinner"],"offers":[],"opentable_support":0,"is_zomato_book_res":0,"mezzo_provider":"OTHER","is_book_form_web_view":0,"book_form_web_view_url":"","book_again_url":"","thumb":"","user_rating":{"aggregate_rating":"3.5","rating_text":"Good","rating_color":"9ACD32","rating_obj":{"title":{"text":"3.5"},"bg_color":{"type":"lime","tint":"500"}},"votes":10},"all_reviews_count":4,"photos_url":"https:\/\/www.zomato.com\/pueblo-co\/china-lantern-restaurant-pueblo\/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop","photo_count":0,"menu_url":"https:\/\/www.zomato.com\/pueblo-co\/china-lantern-restaurant-pueblo\/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop","featured_image":"","medio_provider":false,"has_online_delivery":0,"is_delivering_now":0,"store_type":"","include_bogo_offers":true,"deeplink":"zomato:\/\/restaurant\/17589317","is_table_reservation_supported":0,"has_table_booking":0,"events_url":"https:\/\/www.zomato.com\/pueblo-co\/china-lantern-restaurant-pueblo\/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","phone_numbers":"(719)
        546-0640","all_reviews":{"reviews":[{"review":[]},{"review":[]},{"review":[]},{"review":[]}]},"establishment":[],"establishment_types":[]}},{"restaurant":{"R":{"res_id":17589595,"is_grocery_store":false,"has_menu_status":{"delivery":-1,"takeaway":-1}},"apikey":"ebea8369b0faf6ba13b4dd9598f04bb6","id":"17589595","name":"Tian
        Jin Restaurant","url":"https:\/\/www.zomato.com\/pueblo-co\/tian-jin-restaurant-pueblo?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1","location":{"address":"3400
        W Northern Ave, Pueblo 81005","locality":"Pueblo","city":"Pueblo","city_id":535,"latitude":"38.2434000000","longitude":[...]
