---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=UNSPLASH_API_Key&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=UNSPLASH_API_Key&page=3902&per_page=1&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=UNSPLASH_API_Key&page=2&per_page=1&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '3902'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"f8a7b670fbd0eaba3fb6d43a5f763db4"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":3902,"total_pages":3902,"results":[{"id":"_B8B3IqICtA","created_at":"2021-01-11T19:23:07-05:00","updated_at":"2021-04-14T19:26:58-04:00","promoted_at":null,"width":3712,"height":5568,"color":"#c0c0c0","blur_hash":"LZGv6Ubc%MM_~qM{WAofEQbIM{oe","description":"INSTAGRAM:
        SARRAMPHOTOGRAPHY","alt_description":"man in black and white hoodie wearing
        green knit cap","urls":{"raw":"https://images.unsplash.com/photo-1610410543867-18e2e333637d?ixid=MnwxOTkzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MTg0NDkyMzc\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1610410543867-18e2e333637d?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwxOTkzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MTg0NDkyMzc\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1610410543867-18e2e333637d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwxOTkzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MTg0NDkyMzc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1610410543867-18e2e333637d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwxOTkzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MTg0NDkyMzc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1610410543867-18e2e333637d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwxOTkzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MTg0NDkyMzc\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/_B8B3IqICtA","html":"https://unsplash.com/photos/_B8B3IqICtA","download":"https://unsplash.com/photos/_B8B3IqICtA/download","download_location":"https://api.unsplash.com/photos/_B8B3IqICtA/download?ixid=MnwxOTkzODZ8MHwxfHNlYXJjaHwxfHxkZW52ZXIlMkNjb3xlbnwwfHx8fDE2MTg0NDkyMzc"},"categories":[],"likes":1,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"7vaZ99fSB5o","updated_at":"2021-04-14T12:46:45-04:00","username":"nima_sarram","name":"Nima
        Sarram","first_name":"Nima","last_name":"Sarram","twitter_username":null,"portfolio_url":null,"bio":"INSTAGRAM:
        SARRAMPHOTOGRAPHY\r\nBased out of Denver Colorado","location":"Denver, Co","links":{"self":"https://api.unsplash.com/users/nima_sarram","html":"https://unsplash.com/@nima_sarram","photos":"https://api.unsplash.com/users/nima_sarram/photos","likes":"https://api.unsplash.com/users/nima_sarram/likes","portfolio":"https://api.unsplash.com/users/nima_sarram/portfolio","following":"https://api.unsplash.com/users/nima_sarram/following","followers":"https://api.unsplash.com/users/nima_sarram/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1601953490826-6eeca3f02875image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"sarramphotography","total_collections":15,"total_likes":21,"total_photos":236,"accepted_tos":true,"for_hire":true},"tags":[]}]}'
  recorded_at: Thu, 15 Apr 2021 01:14:06 GMT
recorded_with: VCR 6.0.0
