---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_Key&lat=38.2654&lon=-104.6104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1617314567,"sunrise":1617280967,"sunset":1617326475,"temp":69.15,"feels_like":66.24,"pressure":1021,"humidity":10,"dew_point":12.67,"uvi":3.54,"clouds":1,"visibility":10000,"wind_speed":9.22,"wind_deg":120,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1617314580,"precipitation":0},{"dt":1617314640,"precipitation":0},{"dt":1617314700,"precipitation":0},{"dt":1617314760,"precipitation":0},{"dt":1617314820,"precipitation":0},{"dt":1617314880,"precipitation":0},{"dt":1617314940,"precipitation":0},{"dt":1617315000,"precipitation":0},{"dt":1617315060,"precipitation":0},{"dt":1617315120,"precipitation":0},{"dt":1617315180,"precipitation":0},{"dt":1617315240,"precipitation":0},{"dt":1617315300,"precipitation":0},{"dt":1617315360,"precipitation":0},{"dt":1617315420,"precipitati[...]
