---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_Key&lat=38.2654&lon=-104.6104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1618449233,"sunrise":1618403006,"sunset":1618450401,"temp":53.6,"feels_like":50.16,"pressure":1015,"humidity":32,"dew_point":25.36,"uvi":0.04,"clouds":75,"visibility":10000,"wind_speed":26.46,"wind_deg":100,"wind_gust":33.38,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1618449240,"precipitation":0},{"dt":1618449300,"precipitation":0},{"dt":1618449360,"precipitation":0},{"dt":1618449420,"precipitation":0},{"dt":1618449480,"precipitation":0},{"dt":1618449540,"precipitation":0},{"dt":1618449600,"precipitation":0},{"dt":1618449660,"precipitation":0},{"dt":1618449720,"precipitation":0},{"dt":1618449780,"precipitation":0},{"dt":1618449840,"precipitation":0},{"dt":1618449900,"precipitation":0},{"dt":1618449960,"precipitation":0},{"dt":1618450020,"precipitation":0},{"dt":1618450080,"precipitati[...]
