---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_API_Key&location=denver,%20co&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 01 Apr 2021 22:02:57 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_API_Key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-999982840"}]}]}'
  recorded_at: Thu, 01 Apr 2021 22:02:57 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_Key&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1617314577,"sunrise":1617281003,"sunset":1617326619,"temp":69.17,"feels_like":66.02,"pressure":1015,"humidity":5,"dew_point":-0.89,"uvi":3.39,"clouds":0,"visibility":10000,"wind_speed":4.43,"wind_deg":89,"wind_gust":5.06,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1617314580,"precipitation":0},{"dt":1617314640,"precipitation":0},{"dt":1617314700,"precipitation":0},{"dt":1617314760,"precipitation":0},{"dt":1617314820,"precipitation":0},{"dt":1617314880,"precipitation":0},{"dt":1617314940,"precipitation":0},{"dt":1617315000,"precipitation":0},{"dt":1617315060,"precipitation":0},{"dt":1617315120,"precipitation":0},{"dt":1617315180,"precipitation":0},{"dt":1617315240,"precipitation":0},{"dt":1617315300,"precipitation":0},{"dt":1617315360,"precipitation":0},{"dt":1617315420,"precipitati[...]
