---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_SECRET_KEY&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1611094498,"sunrise":1611065827,"sunset":1611101043,"temp":37.89,"feels_like":31.12,"pressure":1030,"humidity":34,"dew_point":14.22,"uvi":0.59,"clouds":55,"visibility":10000,"wind_speed":1.99,"wind_deg":47,"wind_gust":5.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1611093600,"temp":37.89,"feels_like":29.88,"pressure":1030,"humidity":34,"dew_point":14.22,"uvi":0.59,"clouds":55,"visibility":10000,"wind_speed":4.21,"wind_deg":103,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1611097200,"temp":37.31,"feels_like":31.01,"pressure":1029,"humidity":50,"dew_point":21.7,"uvi":0.18,"clouds":50,"visibility":10000,"wind_speed":2.39,"wind_deg":64,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1611100800,"temp":35.8,"feels_like":29.32,"pressure":1029,"humidity":62,"dew_point":24.98,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":3.36,"wind_deg":19,"weather":[{"id":802,"main":"Clouds","description":"scatte[...]
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_API_Key&location=denver,co&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 03 Apr 2021 04:25:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_API_Key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2116527084"}]}]}'
  recorded_at: Sat, 03 Apr 2021 04:25:48 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_Key&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1617424032,"sunrise":1617367307,"sunset":1617413079,"temp":54.18,"feels_like":50.18,"pressure":1017,"humidity":19,"dew_point":14.94,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":3.78,"wind_deg":255,"wind_gust":4.32,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1617424080,"precipitation":0},{"dt":1617424140,"precipitation":0},{"dt":1617424200,"precipitation":0},{"dt":1617424260,"precipitation":0},{"dt":1617424320,"precipitation":0},{"dt":1617424380,"precipitation":0},{"dt":1617424440,"precipitation":0},{"dt":1617424500,"precipitation":0},{"dt":1617424560,"precipitation":0},{"dt":1617424620,"precipitation":0},{"dt":1617424680,"precipitation":0},{"dt":1617424740,"precipitation":0},{"dt":1617424800,"precipitation":0},{"dt":1617424860,"precipitation":0},{"dt":1617424920,"precipitati[...]
