---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=MAPQUEST_API_Key&location=denver,%20co&maxResults=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 22 Apr 2021 03:37:24 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,
        co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAPQUEST_API_Key&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1472063714"}]}]}'
  recorded_at: Thu, 22 Apr 2021 03:37:24 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_Key&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619062644,"sunrise":1619007184,"sunset":1619055821,"temp":30.6,"feels_like":30.6,"pressure":1013,"humidity":88,"dew_point":27.84,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.19,"wind_deg":92,"wind_gust":3.94,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.32}},"minutely":[{"dt":1619062680,"precipitation":0.2752},{"dt":1619062740,"precipitation":0.2266},{"dt":1619062800,"precipitation":0.178},{"dt":1619062860,"precipitation":0.1522},{"dt":1619062920,"precipitation":0.1264},{"dt":1619062980,"precipitation":0.1006},{"dt":1619063040,"precipitation":0},{"dt":1619063100,"precipitation":0},{"dt":1619063160,"precipitation":0},{"dt":1619063220,"precipitation":0},{"dt":1619063280,"precipitation":0},{"dt":1619063340,"precipitation":0},{"dt":1619063400,"precipitation":0},{"dt":1619063460,"precipitation":0},[...]
