---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_Key&lat=38.2654&lon=-104.6104&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619063961,"sunrise":1619007227,"sunset":1619055598,"temp":39.65,"feels_like":30.72,"pressure":1016,"humidity":42,"dew_point":19.98,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":17.27,"wind_deg":50,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"minutely":[{"dt":1619064000,"precipitation":0},{"dt":1619064060,"precipitation":0},{"dt":1619064120,"precipitation":0},{"dt":1619064180,"precipitation":0},{"dt":1619064240,"precipitation":0},{"dt":1619064300,"precipitation":0},{"dt":1619064360,"precipitation":0},{"dt":1619064420,"precipitation":0},{"dt":1619064480,"precipitation":0},{"dt":1619064540,"precipitation":0},{"dt":1619064600,"precipitation":0},{"dt":1619064660,"precipitation":0},{"dt":1619064720,"precipitation":0},{"dt":1619064780,"precipitation":0},{"dt":1619064840,"precipitati[...]
